#about_us_section{
    padding: 100px 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap-reverse;
}
.about_us_container{
    width: 1200px;
    max-width: 90%;
}
.about_us_container p{
    text-align: justify;
    line-height: 175%;
}
@media(max-width: 800px){
    #about_us_section{
        padding: 50px 0;
    }
    #about_us_section h2{
        text-align: center;
        font-size: 12vw;
    }
}