footer{
    padding: 70px 0;
    background-color: var(--primary-color);
}
footer h2{
    font-size: 50px;
    text-align: center;
}
.grid_container{
    margin: 60px auto;
    width: 1500px;
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
    grid-template-areas: 
    "item1 item1 item2"
    "item3 item3 item0";
}
.grid_item{
    background-color: var(--light-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
}
.grid_item img{
    height: 150px;
    width: 150px;
}
#item0{
    background-color: var(--primary-color);
}

#item1{
    grid-area: item1;
}
#item2{
    grid-area: item2;
    flex-direction: column;
    gap: 10px;
}
#item3{
    grid-area: item3;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}  
.footerLink:visited {
    color: var(--text-color);
    background-color: transparent;
    text-decoration: none;
}
.footerLink:hover {
    color: var(--secondary-text-color);
    background-color: transparent;
    text-decoration: none;
}
@media(max-width: 1300px){
    .grid_container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 300px;
        grid-template-areas: 
        "item1 item1 item2"
        "item3 item3 item3";
    }
}
@media(max-width: 1000px){
    .grid_container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "item1 item1"
        "item3 item3"
        "item2 item0";
    }
    .grid_item img{
        height: 100px;
        width: 100px;
    }
}
@media(max-width: 650px){
    footer h2{
        font-size: 9vw;
    }
    #item1{
        flex-direction: column;
    }
    .grid_item{
        padding: 20px;
    }
    .grid_item img{
        height: 100px;
        width: 100px;
    }
    .grid_item h3{
        font-size: 24px;
    }
}