#shows_section{
    padding: 100px 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap-reverse;
}
.shows_container{
    width: 1200px;
    max-width: 90%;
}
.shows_container p{
    text-align: justify;
    line-height: 175%;
}
#videoContainer{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
@media(max-width: 800px){
    #shows_section{
        padding: 50px 0;
    }
    #shows_section h2{
        text-align: center;
        font-size: 12vw;
    }
}